.defaultButton {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  font-family: 'TT Lakes', sans-serif;
  color: $text;
  font-size: 0px;

  // .defaultButton__name

  &__name {
    display: inline-block;
    margin: 0;
    margin-right: 8px;
    font-size: 16px;
  }

  // .defaultButton__icon

  &__icon {
    display: inline-block;
    font-size: 16px;
  }
}