.l-sideMenu {
  box-sizing: border-box;
  position: fixed;
  padding-inline: 16px;
  padding-top: 24px;
  padding-bottom: 0;
  width: 320px;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 100;
  box-shadow: 16px 0px 52px 0px #0E185033;
  background-color: white;

  @media (min-width: $LPhone) {
    padding: 24px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop) {
    padding-top: 42px;
    padding-inline: 24px;
    padding-bottom: 0;
    display: block;
    position: static;
    height: 100%;
    box-shadow: none;
  }

  // .l-sideMenu__stickyFlexBox

  &__stickyFlexBox {
    height: 100%;
    max-height: 95svh;
    max-width: 276px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'TT Lakes';
    color: #1B1C21;
    font-weight: 500;
    font-size: 16px;

    @media (min-width: $desktop) {
      position: sticky;
      top: 42px;
    }
  }

  // .l-sideMenu__header

  &__header {
    margin-bottom: 20px;

    @media (min-width: $desktop) {
      margin-bottom: 31px;
    }
  }

  // .l-sideMenu__list

  &__menuList {
    margin-bottom: 20px;
  }
}