.sideFooter {

  // .sideFooter__languageList

  &__languageList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 87px;
    margin: 0;
    padding: 0;
    padding-bottom: 32px;
    list-style-type: none;
    line-height: 24px;
    letter-spacing: -0.2px;
    padding-top: 8px;

    @media (min-width: $tablet) {
      padding-top: 40px;
    }

    @media (min-width: $desktop) {
      padding-top: 40px;
    }
  }

  &__languageList li:first-child {
    color: #7E7E82;
  }
}