.sideFooter {

  // .sideFooter__iconList

  &__iconList {
    margin-bottom: 16px;
  }

  // .sideFooter__contactsList

  &__contactsList {
    margin-bottom: 8px;
  }

  // .sideFooter__languageList

  &__languageList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 87px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: 24px;
    letter-spacing: -0.2px;
  }

  &__languageList li:first-child {
    color: #7E7E82;
  }
}