$mainBg: #F8F8F8;
$text: #1B1C21;
$tablet: 768px;
$desktop: 1440px;

body {
  margin: 0;
  font-family: 'TT Lakes', sans-serif;
  color: $text;
  font-size: 16px;
}

.l-header {
  padding: 24px 16px;
  font-size: 0;

  @media (min-width: $tablet) {
    padding: 24px;
  }

  @media (min-width: $desktop) {
    display: none;
  }

  // .l-header__navbar

  &__navbar {}
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  // .navbar__left

  &__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  // .navbar__menu

  &__menu {
    margin-right: 16px;

    @media (min-width: $tablet) {
      text-align: center;
      display: flex;
      align-items: center;
      margin: 0;
    }
  }

  &__menu::after {
    @media (min-width: $tablet) {
      content: '';
      border: 1px solid #EAEAEA;
      border-radius: 40%;
      height: 32px;
      margin-inline: 20px;
    }
  }


  // .navbar__logo

  &__logo {
    overflow: visible;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
  }

  // .navbar__right

  &__right {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;

    @media (min-width: $tablet) {
      align-items: center;
      width: 290px;
    }
  }

  // .navbar__call

  &__call {
    display: none;

    @media (min-width: $tablet) {
      display: block;
      margin-right: 16px;
    }
  }

  // .navbar__chat

  &__chat {
    display: none;

    @media (min-width: $tablet) {
      display: block;
      margin-right: 16px;
    }
  }

  // .navbar__profile

  &__profile {
    display: none;

    @media (min-width: $tablet) {
      display: block;
      margin-right: 20px;
    }
  }

  // .navbar__repair

  &__repair {
    text-align: center;
    display: flex;
    align-items: center;

    @media (min-width: $tablet) {
      display: block;
      margin-right: 16px;
    }
  }

  &__repair::before {
    content: '';
    border: 1px solid #EAEAEA;
    border-radius: 40%;
    height: 32px;
    margin-right: 20px;
  }

  // .navbar__checkstatus

  &__checkstatus {
    margin-left: 16px;

    @media (min-width: $tablet) {
      margin: 0;
    }
  }
}

.defaultButton {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;

  // .defaultButton__name

  &__name {
    display: inline-block;
    margin: 0;
    margin-right: 8px;
  }

  // .defaultButton__icon

  &__icon {
    display: inline-block;
  }
}

.l-main {
  background-color: $mainBg;
  padding-top: 24px;
  height: 100vh;

  @media (min-width: $desktop) {
    padding-top: 42px;
    max-width: 1120px;
    margin-right: auto;
  }

  // .l-main__desktopHeader

  &__desktopHeader {
    @media (min-width: $desktop) {
      margin-bottom: 16px;
    }
  }

  // .l-main__h1

  &__h1 {
    margin: 0;
    margin-bottom: 24px;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;

    @media (min-width: $desktop) {
      margin: 0;
    }
  }

  &__h1::before {
    content: '';
    height: 40px;
    border: 2px solid #41F6D7;
    margin-right: 12px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    @media (min-width: $tablet) {
      margin-right: 20px;
    }

    @media (min-width: $desktop) {
      margin-right: 20px;
    }
  }

  // .l-main__slider

  &__slider {
    position: relative;
  }

  // .l-main__section

  &__section {
    @media (min-width: $tablet) {
      display: flex;
      margin-top: 32px;
      margin-left: 24px;
      margin-right: 24px;
      margin-bottom: 40px;
    }
  }

  // .l-main__article

  &__article {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 24px;

    @media (min-width: $tablet) {
      margin: 0;
    }
  }

  // .l-main__p1

  &__p1 {
    margin: 0;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    font-weight: 500;

    @media (min-width: $tablet) {
      line-height: 20px;
      margin-bottom: 24px;
    }
  }

  // .l-main__p2

  &__p2 {
    display: none;

    @media (min-width: $tablet) {
      display: block;
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      font-weight: 500;
    }
  }

  // .l-main__desktopText

  &__desktopText {
    display: none;

    @media (min-width: $tablet) {
      display: block;
      margin-top: 0;
      margin-bottom: 14px;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      font-weight: 500;
    }
  }

  // .l-main__expandButton

  &__expandButton {}

  // .l-main__readNext

  &__readNext {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 600;
    letter-spacing: -0.2px;

    @media (min-width: $desktop) {
      margin: 0;
    }
  }

  &__readNext::before {
    display: inline-block;
    content: url('../img/expand.svg');
    margin-right: 8px;
    width: 24px;
    height: 24px;
  }

  // .l-main__pictureWraper

  &__pictureWraper {
    text-align: center;

    @media (min-width: $tablet) {
      margin-left: 48px;
    }
  }

  // .l-main__picture

  &__picture {
    @media (min-width: $tablet) {
      width: 360px;
      height: 208px;
      border-radius: 10px;
    }

    @media (min-width: $desktop) {
      width: 531px;
      height: 307px;
      border-radius: 10px;
    }
  }
}

.desktopHeader {

  // .desktopHeader__list

  &__list {
    display: none;
  }

  @media (min-width: $desktop) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // .desktopHeader__h1
    &__h1 {}

    // .desktopHeader__list

    &__list {
      display: flex;
      margin: 0;
      padding: 0;
      list-style-type: none;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      font-weight: 600;
    }

    // .desktopHeader__repair

    &__repair {
      margin-right: 32px;
    }

    // .desktopHeader__button

    &__button {
      display: flex;
      align-items: center;
    }

    // .desktopHeader__checkstatus

    &__checkstatus {
      margin-right: 48px;
    }
  }
}

.slider {

  // .slider__list

  &__list {
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    overflow: auto;
    line-height: 24px;
    white-space: nowrap;
    margin: 0;
    margin-left: 20px;
    padding: 0;
    padding-right: 10vw;
    list-style-type: none;

    @media (min-width: $desktop) {
      position: relative;
      flex-wrap: wrap;
      font-size: 16px;
      line-height: 24px;
      white-space: nowrap;
      margin: 0;
      margin-right: 25px;
      margin-left: 32px;
      padding: 0;
    }
  }

  &__list::-webkit-scrollbar {
    display: none;
  }

  // .slider__item

  &__item {
    display: inline-block;
    position: relative;
    padding: 8px;
    padding-left: 15px;
    border-radius: 6px;
    color: #767679;
    font-weight: 500;
    letter-spacing: -0.2px;
    border: 2px solid transparent;
    transition: 0.3s;

    @media (min-width: $desktop) {
      cursor: pointer;
      padding: 8px 17px;
    }
  }

  &__item:hover,
  &__item:active {
    border-color: #B8FFEC;
    background: #FFFFFF;
  }

  // .slider__link

  &__link {
    text-decoration: none;
    color: inherit;
  }

  &__link:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  // .slider__fader

  &__fader {
    position: absolute;
    right: 0;
    width: 10vw;
    height: 40px;
    pointer-events: none;
    background: #F8F8F8;
    background: linear-gradient(90deg,
        rgba(248, 248, 248, 0.1) 0%,
        rgba(248, 248, 248, 0.5)20%,
        rgba(248, 248, 248, 1) 100%);

    @media (min-width: $desktop) {
      display: none;
    }
  }
}